<div class = "infoBox"> 
<p> this is an image block</p>
<div class = "SerialInfo">
<h1 class = "SerialName"> <%= serial.name %> </h1>
<h1 class = "SerialDescription"> <%= truncate(serial.description, length: 50) %> </h1>
<h3> date</h3>

</div>


</div>