<%= render "header" %>
<div class = "recentDiv recentArticlesDiv" >
	
	<div class = "infoBoxGallery">
		<%= render partial: "articles/infoBox", collection: @serial.articles, as: :article %>
	</div>
	
</div>