<%= render "header" %>


<% postPrefix = @section.name.parameterize.underscore.camelize(:lower) %>
<%= content_tag :div, class: "recentDiv recentPostsDiv recentArticlesDiv #{postPrefix}Recents " do %>
	
	<div class = "infoBoxGallery">

	<% if @serial.articles.published.length >0  %>

	<%= render partial: "articles/infoBox", collection: @serial.articles.published, as: :article %>

	<% else %>
	<p> No Published Content Yet </p>

	<% end %>
		
	</div>
	

<% end %>