<p id="notice"><%= notice %></p>
<% @comments.each do |comment| %>
<div class="comment">
	<div class="commentInfo">
	<p>
		<!-- <strong>Authorable:</strong> -->
		<%= comment.authorable.screenname %>
		<%#= @authorable %>
	</p>
	
</div>
<div class="commentContent"><p>
	<!-- <strong>Content:</strong> -->
	<%= comment.content %>
</p>
</div>
</div>
<% end %>