<p id="notice"><%= notice %></p>
    <% @comments.each do |comment| %>

<p>
  <!-- <strong>Authorable:</strong> -->
  <%= comment.authorable.screenname %>
  <%#= @authorable %>
</p>

<p>
  <!-- <strong>Commentable:</strong> -->
  <%= comment.commentable.name %>
</p>

<p>
  <!-- <strong>Content:</strong> -->
  <%= comment.content %>
 </p>

 <% end %>

 