<p id="notice"><%= notice %></p>
<% @comments.each do |comment| %>
<div class="comment">
	<div class="commentInfo">
	<h1>
		<!-- <strong>Authorable:</strong> -->
		<%= comment.authorable.screenname %>
		<%#= @authorable %>
	
	<span class="commentDate"><%= comment.created_at %></span>

	</h1>
	
</div>
<div class="commentContent"><p>
	<!-- <strong>Content:</strong> -->
	<%= comment.content %>
</p>
</div>
</div>
<% end %>