@import "variables";
@import "grids";
@import "postStyles";
@import "breakpoints";
@import "layout";
@import "modules";

$base-font-size: 16px;
$base-line-height: 22px;
$rhythm-unit: "em";
$rem-with-px-fallback: true;

@include establish-baseline;

body {
    background-color: #faffff;
}

#siteName {
    @include adjust-font-size-to(3em);
    .topLink {
        @include unstyled-link;
    }
}

.navLink {
    @include adjust-font-size-to(1.1em);
    @include unstyled-link;
    @include link-colors(#fff, $ruby, $ruby, #fff, $ruby);
    padding: 0.25em;
}

#homeSlider {
    max-height: 18vw;
}

.navListItem + .navListItem {
    border-left: 1px solid #fff;
}

.articleContent {
    padding: 0px 1vw;
    h2 {
        @include adjust-font-size-to(1.3em);
    }
    p {
        @include adjust-font-size-to(1.1em);
    }
    pre {
        @include adjust-font-size-to(1.1em);
    }
    li {
        @include adjust-font-size-to(1.1em);
    }
}

#siteSubtitle {
    @include adjust-font-size-to(1.2em);
}

h1 {
    font-family: $font-primary;
}

h2 {
    font-family: $font-secondary;
}

p {
    font-family: $font-secondary;
}

.headerTitle {
    @include adjust-font-size-to(1.3em);
}

.headerTitle, .headerDetails {
    font-style: italic;
}

.headerDetails {
    @include adjust-font-size-to(0.8em);
}

.iBoxDescription {
    @include adjust-font-size-to(0.7em);
    font-style: italic;
}

.homeContent .headerContainer {
    border-bottom: 1px solid $headerGreen;
    border-top: 1px solid $headerGreen;
}

.recentLabel {
    .labelText {
        background-color: #ff00ff;
    }
    border-bottom: 1px solid #ff00ff;
}

.commentsDiv {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1em;
    .comment {
        border-top: 1px solid #f0f;
        border-bottom: 1px solid #f0f;
        padding: 1em;
    }
}

@each $section, $color in $sectionColors {
    .#{$section}Recents {
        @include sectionLabelizer($color);
        @include infoBoxer($color);
    }
    .#{$section}About {
        @include aboutLabeler($color);
    }
    .#{$section}HeaderContainer {
        @include headerStyles($color);
        border-top: 1px solid $color;
        border-bottom: 1px solid $color;
    }
    .#{$section}ArticleContent {
        @include coderayColorize($color);
    }
    // .#{$section}MainContent{
    //     @include textReadable($color);
    // }
}