@import "modules";
@import "variables";
@import "mixins";
@import "layout";

$base-font-size: 18px;
$base-line-height: 25px;
$rhythm-unit: "em";
$rem-with-px-fallback: true;

@include establish-baseline;

#siteName {
    @include adjust-font-size-to(4em);
    .topLink {
        @include unstyled-link;
    }
}

#siteSubtitle {
    @include adjust-font-size-to(1.5em);
}

h1 {
    font-family: $font-primary;
}

h2 {
    font-family: $font-primary;
}

p {
    font-family: $font-secondary;
}

.recentLabel {
    .labelText {
        background-color: #ff00ff;
    }
    border-bottom: 1px solid #ff00ff;
}

@each $section, $color in $sectionColors {
    .#{$section}Recents {
        @include sectionLabelizer($color);
        @include infoBoxer($color);
    }
    .#{$section}HeaderContainer {
        @include headerStyles($color);
    }
}