@import "breakpoint";
@import "variables";

$smartPhoneMax: 20px 500px;
$tabletMax: 800px;
$laptopMax: 1000px;

.main {
    @include breakpoint($smartPhoneMax) {
        #siteName {
            @include adjust-font-size-to(1.5em);
        }
        .navLink {
            @include adjust-font-size-to(0.75em);
        }
        #siteSubtitle {
            @include adjust-font-size-to(0.6em);
        }
        .siteHeader {
            .headerInterior {
                #siteImageContainer {
                    .siteHeaderImage {
                        height: 4em;
                    }
                }
            }
        }

        ////////////

 .mainContent {
        @include span(32);
        @include pre(1);
        .headerContainer {
            margin-top: span(0.75);
            margin-bottom: span(0.75);
            padding-top: span(0.75);
            padding-bottom: span(0.75);
            @include container(30);
            @include pre(1);
            @include align-items(center);
            @include display-flex;
            @include justify-content(center);
            .header {
                @include span(22 of 30);
                height: 18vw;
                margin-right: 0px;
                .headerTitle {
                    float: right;
                    max-width: span(last 10 of 22);
                    margin-right: 0px;
                }
            }
            .headerDetails {
                @include span(last 8 of 30);
                height: 18vw;
                margin-left: 0px;
            }
            .headerDetailsText {
                @include span(6.5 of 8);
                @include ellipsis(false);
                height: 15vw;
                @include display-flex;
                margin-top: 0.75em;
                margin-bottom: 0.75em;
                overflow: scroll;
                padding-left: 0.5em;
                padding-right: 0.5em;
                border-right: 1px solid #fff;
            }
            .headerDetailsButton {
                @include span(last 1.5 of 8);
            }
        }
        .recentDiv, .content {
            @include span(30);
            @include pre(1);
            margin-top: 4 * gutter();
            margin-bottom: gutter();
            .labelText {
                max-width: span(1.75 of 2);
                padding-left: 4 * gutter();
            }
            .infoBoxGallery {
                margin-top: 4 * gutter();
                @include span(28 of 30);
                @include pre(1);
                .infoBox {
                    padding: 0.5em 0em;
                    @include gallery(2.5 of 3);
                    height: 5vw;
                    @include display-flex;
                    overflow: scroll;
                    .infoImageContainer, .imageLink {
                        @include span(2 of 7);
                    }
                    .info {
                        margin-left: gutter();
                        padding-left: 2 * gutter(7);
                        padding-right: 2 * gutter(7);
                        margin-right: 0px;
                        @include span(5 of 7);
                        .articleDate, .serialDate {
                            float: right;
                            margin-top: -0.1em;
                            @include adjust-font-size-to(0.6em);
                        }
                    }
                }
            }
        }
    }



        ////////////////

    }

    @include breakpoint($tabletMax) {}

    @include breakpoint($laptopMax) {}

    // @include breakpoint($smartPhoneMax){
    // }
}