

@import "compass";
 @import "susy";
 // @import "compass/css3";
 // @import "compass/typography/lists";

$susy: (
  columns: 34,
  flow: ltr,
  container: 90%,
  container-position: center,
  gutters: 1/4,
  gutter-position: split,

  global-box-sizing: content-box,

);



.main{
	
	@include span(34);
	
	 
		.siteHeader{
			@include container(100%);
			background-color: $darkChartreuse;

			.headerInterior{
			color: #ffffff;
			@include span(30);
			// @include pre(2);
			@include display-flex(inline-flex);
    		@include align-items(center);
    		@include justify-content(center);
			#siteImageContainer{

				@include span(6);
			}

			#siteHeaderText{
				margin-left: 8*gutter();
				#siteName{
						border-bottom: 1px solid #ffffff;
						margin-bottom: -0.25em;
						text-align: left;
						text-shadow: 2px 2px #14f061;
				}
				
				// @include pre(8);
			}
			#siteSubtitle{
				margin-top: -0.5em;
				margin-right: 2.2em; 
				text-align: right;
						}

			// .navList{	
			// 	margin-left: auto;
			// 	margin-right: auto;	
			// 			}
			}
		}

		.mainContent{
			@include span(32);
			@include pre(1);


			.header{

				@include span(30);
				@include pre(1);
			}

			.recentDiv, .content {

					@include span(30);
					@include pre(1);

					.labelText{
						max-width: span(6);
						
						padding-left:(4*(gutter()));
					}

					// border: 1px solid #00ff00;

					margin-top: (4*(gutter()));

					margin-bottom: gutter();

			 		.infoBoxGallery {
					margin-top: (4*(gutter()));
			 			@include span(28 of 30);

		
			 			@include pre(1);
		
		
						.infoBox{
							padding: 0.5em 0em;
							@include gallery(7 of 21);
							@include display-flex;		
					 		// border: 1px solid #000000;
					 		.infoImageContainer{
								@include span(2 of 7);

					 			.iBoxImage{
					 				// background-color: #000000;

					 				width: 100%;
					 				display: block;
					 				height: auto;
					 				max-height: 100%;
					 				
					 				
					 				
					 							 		}
					 							 	}
					 		.info{
					 			margin-left:gutter();
					 			// border-left: 1px solid #ff00ff;
					 			padding-left: (4*(gutter(7)));
					 			padding-right: (4*(gutter(7)));
					 		.articleDate{
					 				float: right;
					 				@include adjust-font-size-to(0.7em);
					 			}
							}
							
						}
				}
				}
			}
}
