

@import "compass";
 @import "susy";
 @import "compass/css3";
 @import "compass/typography/lists";

$susy: (
  columns: 34,
  flow: ltr,
  container: 90%,
  container-position: center,
  gutters: 1/4,
  gutter-position: split,

  global-box-sizing: content-box,

);

.main{
	
	@include span(34);
	
	 
		.siteHeader{
			@include container(100%);
			background-color: #00ff00;

			.headerInterior{
			
			@include span(30);
			@include pre(2);
			}
		}

		.mainContent{
			@include span(32);
			@include pre(1);


			.header{
				@include span(30);
				@include pre(1);
			}

			.recentDiv, .content {

					@include span(30);
					@include pre(1);

					.labelText{
						max-width: span(3);
						padding-left:(4*(gutter()));
					}

					border: 1px solid #00ff00;

					margin-top: (4*(gutter()));

					margin-bottom: gutter();

			 		.infoBoxGallery {
					margin-top: (4*(gutter()));
			 			@include span(28 of 30);

		
			 			@include pre(1);
		
		
						.infoBox{
							@include gallery(7 of 21);
		
					 		border: 1px solid #ff00ff;
					 		.iBoxImage{
					 			@include span(2 of 7);
					 			background-color: #000000;
					 			height: auto;
		
		
		
					 		}
					 		.info{
					 		.articleDate{
					 				float: right;
					 				@include adjust-font-size-to(0.7em);
					 			}
							}
							
						}
				}
				}
			}
}
