.navBlock {
    ul.navList {
        @include horizontal-list;
        border-top: 1px solid #fff;
        padding-top: 0.25em;
        margin-bottom: 0.25em;
        li {
            font-family: $font-secondary;
        }
    }
}

.comment {
    padding: 1em;
    .commentInfo {
        border-bottom: 1px solid #ff00ff;
        .commentDate {
            float: right;
        }
    }
    .commentContent {
        padding-top: 0.5em;
    }
}

.aboutContent {
    h1 {
        border-bottom: 1px solid #ff00ff;
        @include adjust-font-size-to(1.5em);
    }
    p, ul, ol {
        padding: 1em;
    }
}

.aboutImage {}