@import "compass/utilities/color/contrast";

@mixin sectionLabelizer($color) {
    .recentLabel {
        $tempColor: change-color($color, $lightness: 45);
        h1, h2, a, p {
            color: contrast-color($tempColor);
        }
        border-bottom: 1px solid $color;
        .labelText {
            background-color: change-color($color, $lightness: 45);
        }
    }
}

@mixin infoBoxer($color) {
    .infoBox {
        padding: 0.5em 0em;
        border: 1px solid #000000;
        .info {
            border-left: 1px solid $color;
        }
    }
}

@mixin headerStyles($color) {
    $tempColor: change-color($color, $lightness: 45);
    .header {
        margin-right: 0px;
        h1, h2, a, p {
            color: contrast-color($tempColor);
        }
    }
    .headerTitle {
        margin-right: 0px;
        background-color: change-color($color, $lightness: 45);
    }
    .headerDetails {
        background-color: change-color($color, $lightness: 45);
        margin-left: 0px;
        border-right: 2px solid #fff;
        h1, h2, a, p {
            color: contrast-color($tempColor);
        }
    }
}

@mixin textReadable($color) {
    $tempColor: change-color($color, $lightness: 45);
    h1, h2, a, p {
        color: contrast-color($tempColor);
    }
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin coderayColorize($color) {
    $tempColor: change-color($color, $lightness: 15);
    $tempInvert: invert($tempColor);
    // $brightInverse: 
    .highlighter-coderay {
        .CodeRay {
            .line-numbers {
                background-color: change-color($color, $alpha: 0.3);
                a {
                    color: #888888;
                }
            }
            background-color: $tempColor;
            pre {
                background-color: $tempColor;
            }
            .keyword {
                color: invert($tempColor);
            }
            .local-variable {
                color: change-color($tempInvert, $lightness: 65);
            }
            .function {
                color: change-color($color, $lightness: 50);

            }
        }
    }
}