@import "compass/utilities/color/contrast";

@mixin sectionLabelizer($color) {
    .recentLabel {
        border-bottom: 1px solid $color;
        .labelText {
            background-color: $color;
        }
    }
}

@mixin infoBoxer($color) {
    .infoBox {
        padding: 0.5em 0em;
        border: 1px solid #000000;
        .info {
            border-left: 1px solid $color;
        }
    }
}



@mixin headerStyles($color) {
    .header {
        margin-right: 0px;
    }
    .headerTitle {
        margin-right: 0px;
        background-color: $color;
    }
    .headerDetails {
        background-color: $color;
        margin-left: 0px;
        border-right: 2px solid #fff;
    }
}

@mixin textReadable($color){

    h1, h2, a, p {
        color: contrast-color($color);
    }
}