@import "grids";

@import "CodeRay";

.articleContent {
    p {
        padding: 1vw 0px;
    }
    hr {
        border-color: #ff00ff;
    }
}

.imageContainer {
    margin-top: span(0.75);
    margin-bottom: span(0.75);
    padding-top: span(0.75);
    padding-bottom: span(0.75);
    @include container(30);
    .postImageSingle {
        @include gallery(2 at 1 of 3);
        @include push(0.5 of 3);
        margin-left: 20.0% !important;
        padding: 1em 0em;
    }
    .postImageDouble {
        @include gallery(1 of 2);
        padding: 1em 0em;
    }
    .postImageTriple {
        @include gallery(1 of 3);
        padding: 1em 0em;
    }
}

.imageContainerSingle {}

.visDivContainer {
    margin-top: span(0.75);
    margin-bottom: span(0.75);
    padding-top: span(0.75);
    padding-bottom: span(0.75);
    @include container(30);
    .visDiv {
        @include gallery(2 of 4);
        padding: 1em 0em;
        margin: 1em;
    }
}

.CodeRay {
    border-left: 1px solid #ff00ff;
    margin: 2em;
    padding: 0em 1em;
    overflow: auto;
    pre {
        padding: 1em;
        font-family: monaco;
        span {
            font-family: monaco;
            html {
                font-family: monaco;
            }
        }
    }
    strong {
        font-weight: bold;
    }
}

strong {
    font-weight: bold;
}

pre {
    font-family: monaco;
}

.c3Div {
    padding: 2em;
}