@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");

@import "compass/typography/vertical_rhythm";


$base-font-size: 16px;
$base-line-height: 22px;
$rhythm-unit: "em";
$rem-with-px-fallback: true;

@include establish-baseline;


$font-primary			:'EB Garamond', serif;
$font-secondary			: 'Lato', sans-serif;


$chartreuse	:	#7fff00;
$darkChartreuse	:	#14f061;
$purple	:		#8000ff;
$teal	:		#00ff80;
$ruby	:		#ee1169;
$orange	:		#ff8000;
$yellow	:		#e3e839;
$green	:		#008b29;
$headerGreen:	#0e8c60;




$sectionColors:	(
	"everydayAlgorithms"	:		$headerGreen,
	"visualizations"		:		$ruby,
	"culture"				:		$purple,
	"projects"				:		$teal,
	"programming"			:		$orange


	);