$chartreuse	:	#7fff00;
$purple	:		#8000ff;
$teal	:		#00ff80;
$ruby	:		#ee1169;
$orange	:		#ff8000;
$yellow	:		#e3e839;





$sectionColors:	(
	"everydayAlgorithms"	:		$chartreuse,
	"visualizations"		:		$ruby,
	"culture"				:		$purple,
	"projects"				:		$teal,
	"programming"			:		$orange


	);