<div class = "infoBox"> 

	
	<div class = "infoImageContainer">
	<%= image_tag article.header.url(:thumb), class: "iBoxImage" %>
		</div>

	<div class = "info articleInfo">
		<h1 class = "articleName"> <%= link_to "#{article.name}", section_article_url(article.section_id, :id => article.id)  %> </h1>
		<h2 class = "articleDescription"> <%= truncate(article.description, length: 50) %> </h2>
		<h3 class = "articleDate"> <%= article.created_at.to_formatted_s(:long_ordinal) %> </h3>

	</div>


</div>