<div class = "infoBox"> 
<p> this is an image block</p>
<div class = "articleInfo">
<h1 class = "articleName"> <%= article.name %> </h1>
<h1 class = "articleDescription"> <%= truncate(article.description, length: 50) %> </h1>
<h3> date</h3>

</div>


</div>