<div class = "header" id ="siteHeader">
<div> image</div>
<div id = "siteHeaderText">
<h1 id= "siteName">yungMorpheus</h1>
<h1 = "siteSubtitle">memoirs of an autodidact </h1>
</div>

<%= render "shared/topNav" %>

</div>