<div class = "header" id ="siteHeader">
<div class = "headerInterior">
<div> image</div>
<div id = "siteHeaderText">
<h1 id= "siteName"> 

	<%= link_to "yungMorpheus", root_path %> </h1>
<h1 = "siteSubtitle">memoirs of an autodidact </h1>
</div>

<%= render "shared/topNav" %>

</div>
</div>