<ul class = "navList">
	
	<li class = "navListItem "><%= link_to "About", home_about_path, class: "navLink" %></li>
	<% @sharedSections.each do |section| %>
	<li class = "navListItem "><%= link_to "#{section.name}", section_path(section), class: "navLink", id: "#{section.name}"+"NavLink" %></li>
	<%end%>
	<li class = "navListItem "><%= link_to "Contact", home_contact_path, class: "navLink" %></li>
</ul>