<nav class = "navigation" id ="siteNavigation">
 

<%= link_to "about", home_about_path %>

<% @sharedSections.each do |section| %>
<%= link_to "#{section.name}", section_path(section), class: "navLink", id: "#{section.name}"+"NavLink" %>
<%end%>

<%= link_to "contact", home_contact_path %>


</nav>

