<div class = "headerContainer">
	<div class = "header homeHeader">
	<div id="homeSlider"><% @sections.each do |sect|%>
	<% firstFeature = sect.articles.featured.first %>
	<%= link_to(section_article_path(firstFeature.section_id, :id => firstFeature.id)) do  %>
	<%=image_tag(sect.header.url, alt: "#{firstFeature.name}", "data-src": sect.header.url) %>
		<%#= %>
			
	
			<% end  %>
			<% end  %>
	</div>


	<h1> this is the home header</h1>
	</div>
</div>