<div class = "recentDiv recentSerialDiv" >
	<div class = "sectionLabel">
		<h1 class = "recentLabel recentSerialLabel" > <%=section.name%> </h1>
		<p> this will render the infoboxes</p>
	</div>
	
	<div class = "infoBoxGallery">
		<%= render partial: "serials/infoBox", collection: section.serials, as: :serial %>
	</div>

</div>



<!-- 
<div class = "recentDiv" id = "recentSerialsDiv">
<h1 class = "recentLabel" id = "recentSerialLabel"> <%= section.name%> </h1>
<p> this will render the infoboxes</p>

</div> -->