<div class = "recentDiv recentArticlesDiv" >
<h1 class = "recentLabel recentArticleLabel" > <%=section.name%> </h1>
<p> this will render the infoboxes</p>

<%= render partial: "articles/infoBox", collection: section.articles, as: :article %>


</div>