<div class = "homeContent">
	
	<%#= link_to "sing in", "auth/facebook" %> 
	<%= render 'header' %>
<% if params[:tag] %>


<%= render partial: "taggedPosts" %>
<%#= @articles.tagged_with(:tag).each do |article| %>
	<%# render partial: "articles/infoBox", object: article %>
	<%# end %>
<% else %>
		<%= render partial: 'recentPosts', collection: @sections, as: :section %>

<% end %>
	<%# render partial: 'recentPosts', collection: @sections, as: :section %>
</div>