<div class = "headerContainer">
	<%= content_tag(:div, class: "header sectionHeader #{@section.name.parameterize.underscore.camelize(:lower)}Header") do %>


		<h1> <%= @section.name %> </h1>
		<h1> <%= @section.description %> </h1>


	<% end %>

</div>
