	/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");
/* line 5, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.375em;
}

/* line 106, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.375em;
}

/* line 12, sass/_grids.scss */
.main {
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
}
/* line 14, sass/_grids.scss */
.main .siteHeader {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e8c60;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 70, sass/_mixins.scss */
.main .siteHeader:before, .main .siteHeader:after {
  content: " ";
  display: table;
}
/* line 75, sass/_mixins.scss */
.main .siteHeader:after {
  clear: both;
}
/* line 19, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 24, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior {
  color: #ffffff;
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  clear: both;
}
/* line 32, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteImageContainer .siteHeaderImage {
  max-height: 8em;
}
/* line 36, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteHeaderText {
  margin-left: 2.35294%;
}
/* line 38, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteHeaderText #siteName {
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom: 2px solid #ffffff;
  text-align: left;
  text-shadow: 2px 2px #0e8c60;
}
/* line 46, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteSubtitle {
  padding-right: 0.4em;
  text-align: right;
}
/* line 50, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior .navBlock {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  clear: both;
  clear: both;
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
}
/* line 58, sass/_grids.scss */
.main .siteHeader .siteHeaderInline {
  display: -webkit-flex;
  display: flex;
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 62, sass/_grids.scss */
.main .siteHeader .siteHeaderInline .sectionClouds {
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
  padding: 1em;
}
/* line 71, sass/_grids.scss */
.main .siteHeader .siteHeaderInline .siteSearch {
  -webkit-align-items: right;
  align-items: right;
  -webkit-justify-content: right;
  justify-content: right;
  float: right;
  padding: 1em;
}
/* line 78, sass/_grids.scss */
.main .siteHeader .siteHeaderInline .viewerDetails {
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
  float: left;
  padding: 1em;
}
/* line 87, sass/_grids.scss */
.main .mainContent {
  width: 93.52941%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  margin-left: 3.23529%;
}
/* line 90, sass/_grids.scss */
.main .mainContent .headerContainer {
  margin-top: 1.61765%;
  margin-bottom: 1.61765%;
  padding-top: 1.61765%;
  padding-bottom: 1.61765%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 3.23529%;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 70, sass/_mixins.scss */
.main .mainContent .headerContainer:before, .main .mainContent .headerContainer:after {
  content: " ";
  display: table;
}
/* line 75, sass/_mixins.scss */
.main .mainContent .headerContainer:after {
  clear: both;
}
/* line 100, sass/_grids.scss */
.main .mainContent .headerContainer .header {
  width: 72.66667%;
  float: left;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  height: 18vw;
  margin-right: 0px;
}
/* line 104, sass/_grids.scss */
.main .mainContent .headerContainer .header .headerTitle {
  float: right;
  max-width: 44.54545%;
  margin-right: 0px;
}
/* line 110, sass/_grids.scss */
.main .mainContent .headerContainer .tags {
  width: 87.64706%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  width: 100%;
}
/* line 114, sass/_grids.scss */
.main .mainContent .headerContainer .headerDetails {
  width: 26%;
  float: right;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  height: 18vw;
  margin-left: 0px;
}
/* line 119, sass/_grids.scss */
.main .mainContent .headerContainer .headerDetailsText {
  width: 91.25%;
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 15vw;
  display: -webkit-flex;
  display: flex;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  overflow: scroll;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid #fff;
}
/* line 135, sass/_grids.scss */
.main .mainContent .recentDiv, .main .mainContent .content, .main .mainContent .commentsDiv {
  width: 87.64706%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  margin-left: 3.23529%;
  margin-top: 1.17647%;
  margin-bottom: 0.29412%;
}
/* line 140, sass/_grids.scss */
.main .mainContent .recentDiv .labelText, .main .mainContent .content .labelText, .main .mainContent .commentsDiv .labelText {
  max-width: 17.05882%;
  padding-left: 1.17647%;
}
/* line 144, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery, .main .mainContent .content .infoBoxGallery, .main .mainContent .commentsDiv .infoBoxGallery {
  margin-top: 1.17647%;
  width: 92.66667%;
  float: left;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  margin-left: 3.23529%;
}
/* line 148, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox, .main .mainContent .content .infoBoxGallery .infoBox, .main .mainContent .commentsDiv .infoBoxGallery .infoBox {
  padding: 0.5em 0em;
  width: 32.38095%;
  float: left;
  height: 5vw;
  display: -webkit-flex;
  display: flex;
  overflow: scroll;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 1), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 1), .main .mainContent .commentsDiv .infoBoxGallery .infoBox:nth-child(3n + 1) {
  margin-left: 0.47619%;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 2), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 2), .main .mainContent .commentsDiv .infoBoxGallery .infoBox:nth-child(3n + 2) {
  margin-left: 33.80952%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 3), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 3), .main .mainContent .commentsDiv .infoBoxGallery .infoBox:nth-child(3n + 3) {
  margin-left: 67.14286%;
  margin-right: -100%;
  clear: none;
}
/* line 154, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .recentDiv .infoBoxGallery .infoBox .imageLink, .main .mainContent .content .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .content .infoBoxGallery .infoBox .imageLink, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .imageLink {
  width: 25.71429%;
  float: left;
  margin-left: 1.42857%;
  margin-right: 1.42857%;
}
/* line 157, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .info, .main .mainContent .content .infoBoxGallery .infoBox .info, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .info {
  margin-left: 0.29412%;
  padding-left: 2.85714%;
  padding-right: 2.85714%;
  margin-right: 0px;
  width: 68.57143%;
  float: left;
  margin-left: 1.42857%;
  margin-right: 1.42857%;
}
/* line 163, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .recentDiv .infoBoxGallery .infoBox .info .serialDate, .main .mainContent .content .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .content .infoBoxGallery .infoBox .info .serialDate, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .info .serialDate {
  float: right;
  margin-top: -0.1em;
  font-size: 0.6em;
  line-height: 2.29167em;
}

/* line 106, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.375em;
}

/* line 12, sass/_grids.scss */
.main {
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
}
/* line 14, sass/_grids.scss */
.main .siteHeader {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e8c60;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 70, sass/_mixins.scss */
.main .siteHeader:before, .main .siteHeader:after {
  content: " ";
  display: table;
}
/* line 75, sass/_mixins.scss */
.main .siteHeader:after {
  clear: both;
}
/* line 19, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 24, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior {
  color: #ffffff;
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  clear: both;
}
/* line 32, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteImageContainer .siteHeaderImage {
  max-height: 8em;
}
/* line 36, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteHeaderText {
  margin-left: 2.35294%;
}
/* line 38, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteHeaderText #siteName {
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom: 2px solid #ffffff;
  text-align: left;
  text-shadow: 2px 2px #0e8c60;
}
/* line 46, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior #siteSubtitle {
  padding-right: 0.4em;
  text-align: right;
}
/* line 50, sass/_grids.scss */
.main .siteHeader .siteHeaderFlex .headerInterior .navBlock {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  clear: both;
  clear: both;
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
}
/* line 58, sass/_grids.scss */
.main .siteHeader .siteHeaderInline {
  display: -webkit-flex;
  display: flex;
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 62, sass/_grids.scss */
.main .siteHeader .siteHeaderInline .sectionClouds {
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
  padding: 1em;
}
/* line 71, sass/_grids.scss */
.main .siteHeader .siteHeaderInline .siteSearch {
  -webkit-align-items: right;
  align-items: right;
  -webkit-justify-content: right;
  justify-content: right;
  float: right;
  padding: 1em;
}
/* line 78, sass/_grids.scss */
.main .siteHeader .siteHeaderInline .viewerDetails {
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
  float: left;
  padding: 1em;
}
/* line 87, sass/_grids.scss */
.main .mainContent {
  width: 93.52941%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  margin-left: 3.23529%;
}
/* line 90, sass/_grids.scss */
.main .mainContent .headerContainer {
  margin-top: 1.61765%;
  margin-bottom: 1.61765%;
  padding-top: 1.61765%;
  padding-bottom: 1.61765%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 3.23529%;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 70, sass/_mixins.scss */
.main .mainContent .headerContainer:before, .main .mainContent .headerContainer:after {
  content: " ";
  display: table;
}
/* line 75, sass/_mixins.scss */
.main .mainContent .headerContainer:after {
  clear: both;
}
/* line 100, sass/_grids.scss */
.main .mainContent .headerContainer .header {
  width: 72.66667%;
  float: left;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  height: 18vw;
  margin-right: 0px;
}
/* line 104, sass/_grids.scss */
.main .mainContent .headerContainer .header .headerTitle {
  float: right;
  max-width: 44.54545%;
  margin-right: 0px;
}
/* line 110, sass/_grids.scss */
.main .mainContent .headerContainer .tags {
  width: 87.64706%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  width: 100%;
}
/* line 114, sass/_grids.scss */
.main .mainContent .headerContainer .headerDetails {
  width: 26%;
  float: right;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  height: 18vw;
  margin-left: 0px;
}
/* line 119, sass/_grids.scss */
.main .mainContent .headerContainer .headerDetailsText {
  width: 91.25%;
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 15vw;
  display: -webkit-flex;
  display: flex;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  overflow: scroll;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid #fff;
}
/* line 135, sass/_grids.scss */
.main .mainContent .recentDiv, .main .mainContent .content, .main .mainContent .commentsDiv {
  width: 87.64706%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  margin-left: 3.23529%;
  margin-top: 1.17647%;
  margin-bottom: 0.29412%;
}
/* line 140, sass/_grids.scss */
.main .mainContent .recentDiv .labelText, .main .mainContent .content .labelText, .main .mainContent .commentsDiv .labelText {
  max-width: 17.05882%;
  padding-left: 1.17647%;
}
/* line 144, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery, .main .mainContent .content .infoBoxGallery, .main .mainContent .commentsDiv .infoBoxGallery {
  margin-top: 1.17647%;
  width: 92.66667%;
  float: left;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  margin-left: 3.23529%;
}
/* line 148, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox, .main .mainContent .content .infoBoxGallery .infoBox, .main .mainContent .commentsDiv .infoBoxGallery .infoBox {
  padding: 0.5em 0em;
  width: 32.38095%;
  float: left;
  height: 5vw;
  display: -webkit-flex;
  display: flex;
  overflow: scroll;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 1), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 1), .main .mainContent .commentsDiv .infoBoxGallery .infoBox:nth-child(3n + 1) {
  margin-left: 0.47619%;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 2), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 2), .main .mainContent .commentsDiv .infoBoxGallery .infoBox:nth-child(3n + 2) {
  margin-left: 33.80952%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 3), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 3), .main .mainContent .commentsDiv .infoBoxGallery .infoBox:nth-child(3n + 3) {
  margin-left: 67.14286%;
  margin-right: -100%;
  clear: none;
}
/* line 154, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .recentDiv .infoBoxGallery .infoBox .imageLink, .main .mainContent .content .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .content .infoBoxGallery .infoBox .imageLink, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .imageLink {
  width: 25.71429%;
  float: left;
  margin-left: 1.42857%;
  margin-right: 1.42857%;
}
/* line 157, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .info, .main .mainContent .content .infoBoxGallery .infoBox .info, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .info {
  margin-left: 0.29412%;
  padding-left: 2.85714%;
  padding-right: 2.85714%;
  margin-right: 0px;
  width: 68.57143%;
  float: left;
  margin-left: 1.42857%;
  margin-right: 1.42857%;
}
/* line 163, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .recentDiv .infoBoxGallery .infoBox .info .serialDate, .main .mainContent .content .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .content .infoBoxGallery .infoBox .info .serialDate, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .commentsDiv .infoBoxGallery .infoBox .info .serialDate {
  float: right;
  margin-top: -0.1em;
  font-size: 0.6em;
  line-height: 2.29167em;
}

/* line 6, sass/_postStyles.scss */
.articleContent p {
  padding: 1vw 0px;
}
/* line 9, sass/_postStyles.scss */
.articleContent hr {
  border-color: #ff00ff;
}

/* line 14, sass/_postStyles.scss */
.imageContainer {
  margin-top: 1.61765%;
  margin-bottom: 1.61765%;
  padding-top: 1.61765%;
  padding-bottom: 1.61765%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 70, sass/_mixins.scss */
.imageContainer:before, .imageContainer:after {
  content: " ";
  display: table;
}
/* line 75, sass/_mixins.scss */
.imageContainer:after {
  clear: both;
}
/* line 20, sass/_postStyles.scss */
.imageContainer .postImageSingle {
  width: 60%;
  float: left;
  margin-left: 20.0%;
  margin-left: 20.0% !important;
  padding: 1em 0em;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.imageContainer .postImageSingle:nth-child(1n + 1) {
  margin-left: 3.33333%;
  margin-right: -100%;
  clear: both;
}
/* line 26, sass/_postStyles.scss */
.imageContainer .postImageDouble {
  width: 40%;
  float: left;
  padding: 1em 0em;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.imageContainer .postImageDouble:nth-child(2n + 1) {
  margin-left: 5%;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.imageContainer .postImageDouble:nth-child(2n + 2) {
  margin-left: 55%;
  margin-right: -100%;
  clear: none;
}
/* line 30, sass/_postStyles.scss */
.imageContainer .postImageTriple {
  width: 26.66667%;
  float: left;
  padding: 1em 0em;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.imageContainer .postImageTriple:nth-child(3n + 1) {
  margin-left: 3.33333%;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.imageContainer .postImageTriple:nth-child(3n + 2) {
  margin-left: 36.66667%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.imageContainer .postImageTriple:nth-child(3n + 3) {
  margin-left: 70.0%;
  margin-right: -100%;
  clear: none;
}

/* line 38, sass/_postStyles.scss */
.visDivContainer {
  margin-top: 1.61765%;
  margin-bottom: 1.61765%;
  padding-top: 1.61765%;
  padding-bottom: 1.61765%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 70, sass/_mixins.scss */
.visDivContainer:before, .visDivContainer:after {
  content: " ";
  display: table;
}
/* line 75, sass/_mixins.scss */
.visDivContainer:after {
  clear: both;
}
/* line 44, sass/_postStyles.scss */
.visDivContainer .visDiv {
  width: 45%;
  float: left;
  padding: 1em 0em;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.visDivContainer .visDiv:nth-child(2n + 1) {
  margin-left: 2.5%;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.visDivContainer .visDiv:nth-child(2n + 2) {
  margin-left: 52.5%;
  margin-right: -100%;
  clear: none;
}

/* line 50, sass/_postStyles.scss */
.CodeRay {
  border-left: 1px solid #ff00ff;
  margin: 2em;
  padding: 0em 1em;
  overflow: auto;
}
/* line 55, sass/_postStyles.scss */
.CodeRay pre {
  padding: 1em;
  font-family: monaco;
}
/* line 58, sass/_postStyles.scss */
.CodeRay pre span {
  font-family: monaco;
}
/* line 60, sass/_postStyles.scss */
.CodeRay pre span html {
  font-family: monaco;
}
/* line 65, sass/_postStyles.scss */
.CodeRay strong {
  font-weight: bold;
}

/* line 70, sass/_postStyles.scss */
strong {
  font-weight: bold;
}

/* line 74, sass/_postStyles.scss */
pre {
  font-family: monaco;
}

/* line 78, sass/_postStyles.scss */
.c3Div {
  padding: 2em;
}

/* line 106, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.375em;
}

@media (min-width: 20px) and (max-width: 500px) {
  /* line 10, sass/_breakpoints.scss */
  .main #siteName {
    font-size: 1.5em;
    line-height: 1.83333em;
  }
  /* line 13, sass/_breakpoints.scss */
  .main .navLink {
    font-size: 0.75em;
    line-height: 1.83333em;
  }
  /* line 16, sass/_breakpoints.scss */
  .main #siteSubtitle {
    font-size: 0.6em;
    line-height: 2.29167em;
  }
  /* line 22, sass/_breakpoints.scss */
  .main .siteHeader .headerInterior #siteImageContainer .siteHeaderImage {
    height: 4em;
  }
  /* line 31, sass/_breakpoints.scss */
  .main .mainContent {
    width: 93.52941%;
    float: left;
    margin-left: 0.29412%;
    margin-right: 0.29412%;
    margin-left: 3.23529%;
  }
  /* line 34, sass/_breakpoints.scss */
  .main .mainContent .headerContainer {
    margin-top: 1.61765%;
    margin-bottom: 1.61765%;
    padding-top: 1.61765%;
    padding-bottom: 1.61765%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3.23529%;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  /* line 70, sass/_mixins.scss */
  .main .mainContent .headerContainer:before, .main .mainContent .headerContainer:after {
    content: " ";
    display: table;
  }
  /* line 75, sass/_mixins.scss */
  .main .mainContent .headerContainer:after {
    clear: both;
  }
  /* line 44, sass/_breakpoints.scss */
  .main .mainContent .headerContainer .header {
    width: 72.66667%;
    float: left;
    margin-left: 0.33333%;
    margin-right: 0.33333%;
    height: 18vw;
    margin-right: 0px;
  }
  /* line 48, sass/_breakpoints.scss */
  .main .mainContent .headerContainer .header .headerTitle {
    float: right;
    max-width: 44.54545%;
    margin-right: 0px;
    font-size: 0.75em;
    line-height: 1.83333em;
  }
  /* line 56, sass/_breakpoints.scss */
  .main .mainContent .headerContainer .headerDetails {
    width: 26%;
    float: right;
    margin-left: 0.33333%;
    margin-right: 0.33333%;
    font-size: 0.5em;
    line-height: 2.75em;
    height: 18vw;
    margin-left: 0px;
  }
  /* line 63, sass/_breakpoints.scss */
  .main .mainContent .headerContainer .headerDetailsText {
    width: 78.75%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 15vw;
    display: -webkit-flex;
    display: flex;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    overflow: scroll;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid #fff;
  }
  /* line 75, sass/_breakpoints.scss */
  .main .mainContent .headerContainer .headerDetailsButton {
    width: 16.25%;
    float: right;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
  /* line 79, sass/_breakpoints.scss */
  .main .mainContent .recentDiv, .main .mainContent .content {
    width: 87.64706%;
    float: left;
    margin-left: 0.29412%;
    margin-right: 0.29412%;
    margin-left: 3.23529%;
    margin-top: 1.17647%;
    margin-bottom: 0.29412%;
  }
  /* line 84, sass/_breakpoints.scss */
  .main .mainContent .recentDiv .labelText, .main .mainContent .content .labelText {
    max-width: 77.5%;
    padding-left: 1.17647%;
  }
  /* line 88, sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery, .main .mainContent .content .infoBoxGallery {
    margin-top: 1.17647%;
    width: 92.66667%;
    float: left;
    margin-left: 0.33333%;
    margin-right: 0.33333%;
    margin-left: 3.23529%;
  }
  /* line 92, sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox, .main .mainContent .content .infoBoxGallery .infoBox {
    padding: 0.5em 0em;
    width: 76.66667%;
    float: left;
    height: 5vw;
    display: -webkit-flex;
    display: flex;
    overflow: scroll;
  }
  /* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(1n + 1), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(1n + 1) {
    margin-left: 3.33333%;
    margin-right: -100%;
    clear: both;
  }
  /* line 98, sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .recentDiv .infoBoxGallery .infoBox .imageLink, .main .mainContent .content .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .content .infoBoxGallery .infoBox .imageLink {
    width: 25.71429%;
    float: left;
    margin-left: 1.42857%;
    margin-right: 1.42857%;
  }
  /* line 101, sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox .info, .main .mainContent .content .infoBoxGallery .infoBox .info {
    margin-left: 0.29412%;
    padding-left: 2.85714%;
    padding-right: 2.85714%;
    margin-right: 0px;
    width: 68.57143%;
    float: left;
    margin-left: 1.42857%;
    margin-right: 1.42857%;
  }
  /* line 107, sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .recentDiv .infoBoxGallery .infoBox .info .serialDate, .main .mainContent .content .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .content .infoBoxGallery .infoBox .info .serialDate {
    float: right;
    margin-top: -0.1em;
    font-size: 0.6em;
    line-height: 2.29167em;
  }
}

/* line 2, sass/_layout.scss */
.navBlock ul.navList {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #fff;
  padding-top: 0.25em;
  margin-bottom: 0.25em;
}
/* line 70, sass/_mixins.scss */
.navBlock ul.navList:before, .navBlock ul.navList:after {
  content: " ";
  display: table;
}
/* line 75, sass/_mixins.scss */
.navBlock ul.navList:after {
  clear: both;
}
/* line 62, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li.last {
  padding-right: 0;
}
/* line 7, sass/_layout.scss */
.navBlock ul.navList li {
  font-family: "Lato", sans-serif;
}

/* line 13, sass/_layout.scss */
.comment {
  padding: 1em;
}
/* line 15, sass/_layout.scss */
.comment .commentInfo {
  border-bottom: 1px solid #ff00ff;
}
/* line 17, sass/_layout.scss */
.comment .commentInfo .commentDate {
  float: right;
}
/* line 21, sass/_layout.scss */
.comment .commentContent {
  padding-top: 0.5em;
}

/* line 27, sass/_layout.scss */
.aboutContent h1 {
  border-bottom: 1px solid #ff00ff;
  font-size: 1.5em;
  line-height: 1.83333em;
}
/* line 31, sass/_layout.scss */
.aboutContent p, .aboutContent ul, .aboutContent ol {
  padding: 1em;
}

/* line 106, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.375em;
}

/* line 15, sass/_base.scss */
body {
  background-color: #faffff;
}

/* line 19, sass/_base.scss */
#siteName {
  font-size: 3em;
  line-height: 1.375em;
}
/* line 21, sass/_base.scss */
#siteName .topLink {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
#siteName .topLink:active, #siteName .topLink:focus {
  outline: none;
}

/* line 26, sass/_base.scss */
.navLink {
  font-size: 1.1em;
  line-height: 1.25em;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #fff;
  padding: 0.25em;
}
/* line 6, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.navLink:active, .navLink:focus {
  outline: none;
}
/* line 18, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.navLink:visited {
  color: #fff;
}
/* line 21, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.navLink:focus {
  color: #ee1169;
}
/* line 24, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.navLink:hover {
  color: #ee1169;
}
/* line 27, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.navLink:active {
  color: #ee1169;
}

/* line 33, sass/_base.scss */
#homeSlider {
  max-height: 18vw;
}

/* line 37, sass/_base.scss */
.navListItem + .navListItem {
  border-left: 1px solid #fff;
}

/* line 41, sass/_base.scss */
.articleContent {
  padding: 0px 1vw;
}
/* line 43, sass/_base.scss */
.articleContent h2 {
  font-size: 1.3em;
  line-height: 2.11538em;
}
/* line 46, sass/_base.scss */
.articleContent p {
  font-size: 1.1em;
  line-height: 1.25em;
}
/* line 49, sass/_base.scss */
.articleContent pre {
  font-size: 1.1em;
  line-height: 1.25em;
}
/* line 52, sass/_base.scss */
.articleContent li {
  font-size: 1.1em;
  line-height: 1.25em;
}

/* line 57, sass/_base.scss */
#siteSubtitle {
  font-size: 1.2em;
  line-height: 2.29167em;
}

/* line 61, sass/_base.scss */
h1 {
  font-family: "EB Garamond", serif;
}

/* line 65, sass/_base.scss */
h2 {
  font-family: "Lato", sans-serif;
}

/* line 69, sass/_base.scss */
p {
  font-family: "Lato", sans-serif;
}

/* line 73, sass/_base.scss */
.headerTitle {
  font-size: 1.3em;
  line-height: 2.11538em;
}

/* line 77, sass/_base.scss */
.headerTitle, .headerDetails {
  font-style: italic;
}

/* line 81, sass/_base.scss */
.headerDetails {
  font-size: 0.8em;
  line-height: 1.71875em;
}

/* line 85, sass/_base.scss */
.iBoxDescription {
  font-size: 0.7em;
  line-height: 1.96429em;
  font-style: italic;
}

/* line 90, sass/_base.scss */
.homeContent .headerContainer {
  border-bottom: 1px solid #0e8c60;
  border-top: 1px solid #0e8c60;
}

/* line 95, sass/_base.scss */
.recentLabel {
  border-bottom: 1px solid #ff00ff;
}
/* line 96, sass/_base.scss */
.recentLabel .labelText {
  background-color: #ff00ff;
}

/* line 102, sass/_base.scss */
.commentsDiv {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1em;
}
/* line 106, sass/_base.scss */
.commentsDiv .comment {
  border-top: 1px solid #f0f;
  border-bottom: 1px solid #f0f;
  padding: 1em;
}

/* line 113, sass/_base.scss */
.infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 116, sass/_base.scss */
.infoBox .info {
  border-left: 1px solid #ff00ff;
}

/* line 4, sass/_mixins.scss */
.everydayAlgorithmsRecents .recentLabel {
  border-bottom: 1px solid #0e8c60;
}
/* line 6, sass/_mixins.scss */
.everydayAlgorithmsRecents .recentLabel h1, .everydayAlgorithmsRecents .recentLabel h2, .everydayAlgorithmsRecents .recentLabel a, .everydayAlgorithmsRecents .recentLabel p {
  color: #000;
}
/* line 10, sass/_mixins.scss */
.everydayAlgorithmsRecents .recentLabel .labelText {
  background-color: #15d18f;
}
/* line 31, sass/_mixins.scss */
.everydayAlgorithmsRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 34, sass/_mixins.scss */
.everydayAlgorithmsRecents .infoBox .info {
  border-left: 1px solid #0e8c60;
}

/* line 126, sass/_base.scss */
.everydayAlgorithmsAbout {
  padding: 1em;
}
/* line 18, sass/_mixins.scss */
.everydayAlgorithmsAbout strong {
  border-bottom: 1px solid #0e8c60;
}
/* line 21, sass/_mixins.scss */
.everydayAlgorithmsAbout p {
  padding: 0.5em;
  border-left: 1px solid #0e8c60;
}
/* line 25, sass/_mixins.scss */
.everydayAlgorithmsAbout .aboutHeader {
  background-color: rgba(14, 140, 96, 0.3);
}

/* line 129, sass/_base.scss */
.everydayAlgorithmsHeaderContainer {
  border-top: 1px solid #0e8c60;
  border-bottom: 1px solid #0e8c60;
}
/* line 42, sass/_mixins.scss */
.everydayAlgorithmsHeaderContainer .header {
  margin-right: 0px;
}
/* line 44, sass/_mixins.scss */
.everydayAlgorithmsHeaderContainer .header h1, .everydayAlgorithmsHeaderContainer .header h2, .everydayAlgorithmsHeaderContainer .header a, .everydayAlgorithmsHeaderContainer .header p {
  color: #000;
}
/* line 48, sass/_mixins.scss */
.everydayAlgorithmsHeaderContainer .headerTitle {
  margin-right: 0px;
  background-color: #15d18f;
}
/* line 52, sass/_mixins.scss */
.everydayAlgorithmsHeaderContainer .headerDetails {
  background-color: #15d18f;
  margin-left: 0px;
  border-right: 2px solid #fff;
}
/* line 56, sass/_mixins.scss */
.everydayAlgorithmsHeaderContainer .headerDetails h1, .everydayAlgorithmsHeaderContainer .headerDetails h2, .everydayAlgorithmsHeaderContainer .headerDetails a, .everydayAlgorithmsHeaderContainer .headerDetails p {
  color: #000;
}

/* line 84, sass/_mixins.scss */
.everydayAlgorithmsArticleContent .highlighter-coderay .CodeRay {
  background-color: #074630;
}
/* line 85, sass/_mixins.scss */
.everydayAlgorithmsArticleContent .highlighter-coderay .CodeRay .line-numbers {
  background-color: rgba(14, 140, 96, 0.3);
}
/* line 87, sass/_mixins.scss */
.everydayAlgorithmsArticleContent .highlighter-coderay .CodeRay .line-numbers a {
  color: #888888;
}
/* line 92, sass/_mixins.scss */
.everydayAlgorithmsArticleContent .highlighter-coderay .CodeRay pre {
  background-color: #074630;
}
/* line 95, sass/_mixins.scss */
.everydayAlgorithmsArticleContent .highlighter-coderay .CodeRay .keyword {
  color: #f8b9cf;
}
/* line 98, sass/_mixins.scss */
.everydayAlgorithmsArticleContent .highlighter-coderay .CodeRay .local-variable {
  color: #ef5d90;
}
/* line 101, sass/_mixins.scss */
.everydayAlgorithmsArticleContent .highlighter-coderay .CodeRay .function {
  color: #17e89f;
}

/* line 4, sass/_mixins.scss */
.visualizationsRecents .recentLabel {
  border-bottom: 1px solid #ee1169;
}
/* line 6, sass/_mixins.scss */
.visualizationsRecents .recentLabel h1, .visualizationsRecents .recentLabel h2, .visualizationsRecents .recentLabel a, .visualizationsRecents .recentLabel p {
  color: #fff;
}
/* line 10, sass/_mixins.scss */
.visualizationsRecents .recentLabel .labelText {
  background-color: #d60f5f;
}
/* line 31, sass/_mixins.scss */
.visualizationsRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 34, sass/_mixins.scss */
.visualizationsRecents .infoBox .info {
  border-left: 1px solid #ee1169;
}

/* line 126, sass/_base.scss */
.visualizationsAbout {
  padding: 1em;
}
/* line 18, sass/_mixins.scss */
.visualizationsAbout strong {
  border-bottom: 1px solid #ee1169;
}
/* line 21, sass/_mixins.scss */
.visualizationsAbout p {
  padding: 0.5em;
  border-left: 1px solid #ee1169;
}
/* line 25, sass/_mixins.scss */
.visualizationsAbout .aboutHeader {
  background-color: rgba(238, 17, 105, 0.3);
}

/* line 129, sass/_base.scss */
.visualizationsHeaderContainer {
  border-top: 1px solid #ee1169;
  border-bottom: 1px solid #ee1169;
}
/* line 42, sass/_mixins.scss */
.visualizationsHeaderContainer .header {
  margin-right: 0px;
}
/* line 44, sass/_mixins.scss */
.visualizationsHeaderContainer .header h1, .visualizationsHeaderContainer .header h2, .visualizationsHeaderContainer .header a, .visualizationsHeaderContainer .header p {
  color: #fff;
}
/* line 48, sass/_mixins.scss */
.visualizationsHeaderContainer .headerTitle {
  margin-right: 0px;
  background-color: #d60f5f;
}
/* line 52, sass/_mixins.scss */
.visualizationsHeaderContainer .headerDetails {
  background-color: #d60f5f;
  margin-left: 0px;
  border-right: 2px solid #fff;
}
/* line 56, sass/_mixins.scss */
.visualizationsHeaderContainer .headerDetails h1, .visualizationsHeaderContainer .headerDetails h2, .visualizationsHeaderContainer .headerDetails a, .visualizationsHeaderContainer .headerDetails p {
  color: #fff;
}

/* line 84, sass/_mixins.scss */
.visualizationsArticleContent .highlighter-coderay .CodeRay {
  background-color: #470520;
}
/* line 85, sass/_mixins.scss */
.visualizationsArticleContent .highlighter-coderay .CodeRay .line-numbers {
  background-color: rgba(238, 17, 105, 0.3);
}
/* line 87, sass/_mixins.scss */
.visualizationsArticleContent .highlighter-coderay .CodeRay .line-numbers a {
  color: #888888;
}
/* line 92, sass/_mixins.scss */
.visualizationsArticleContent .highlighter-coderay .CodeRay pre {
  background-color: #470520;
}
/* line 95, sass/_mixins.scss */
.visualizationsArticleContent .highlighter-coderay .CodeRay .keyword {
  color: #b8fadf;
}
/* line 98, sass/_mixins.scss */
.visualizationsArticleContent .highlighter-coderay .CodeRay .local-variable {
  color: #58f3b4;
}
/* line 101, sass/_mixins.scss */
.visualizationsArticleContent .highlighter-coderay .CodeRay .function {
  color: #ee1169;
}

/* line 4, sass/_mixins.scss */
.cultureRecents .recentLabel {
  border-bottom: 1px solid #8000ff;
}
/* line 6, sass/_mixins.scss */
.cultureRecents .recentLabel h1, .cultureRecents .recentLabel h2, .cultureRecents .recentLabel a, .cultureRecents .recentLabel p {
  color: #fff;
}
/* line 10, sass/_mixins.scss */
.cultureRecents .recentLabel .labelText {
  background-color: #7300e6;
}
/* line 31, sass/_mixins.scss */
.cultureRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 34, sass/_mixins.scss */
.cultureRecents .infoBox .info {
  border-left: 1px solid #8000ff;
}

/* line 126, sass/_base.scss */
.cultureAbout {
  padding: 1em;
}
/* line 18, sass/_mixins.scss */
.cultureAbout strong {
  border-bottom: 1px solid #8000ff;
}
/* line 21, sass/_mixins.scss */
.cultureAbout p {
  padding: 0.5em;
  border-left: 1px solid #8000ff;
}
/* line 25, sass/_mixins.scss */
.cultureAbout .aboutHeader {
  background-color: rgba(128, 0, 255, 0.3);
}

/* line 129, sass/_base.scss */
.cultureHeaderContainer {
  border-top: 1px solid #8000ff;
  border-bottom: 1px solid #8000ff;
}
/* line 42, sass/_mixins.scss */
.cultureHeaderContainer .header {
  margin-right: 0px;
}
/* line 44, sass/_mixins.scss */
.cultureHeaderContainer .header h1, .cultureHeaderContainer .header h2, .cultureHeaderContainer .header a, .cultureHeaderContainer .header p {
  color: #fff;
}
/* line 48, sass/_mixins.scss */
.cultureHeaderContainer .headerTitle {
  margin-right: 0px;
  background-color: #7300e6;
}
/* line 52, sass/_mixins.scss */
.cultureHeaderContainer .headerDetails {
  background-color: #7300e6;
  margin-left: 0px;
  border-right: 2px solid #fff;
}
/* line 56, sass/_mixins.scss */
.cultureHeaderContainer .headerDetails h1, .cultureHeaderContainer .headerDetails h2, .cultureHeaderContainer .headerDetails a, .cultureHeaderContainer .headerDetails p {
  color: #fff;
}

/* line 84, sass/_mixins.scss */
.cultureArticleContent .highlighter-coderay .CodeRay {
  background-color: #26004d;
}
/* line 85, sass/_mixins.scss */
.cultureArticleContent .highlighter-coderay .CodeRay .line-numbers {
  background-color: rgba(128, 0, 255, 0.3);
}
/* line 87, sass/_mixins.scss */
.cultureArticleContent .highlighter-coderay .CodeRay .line-numbers a {
  color: #888888;
}
/* line 92, sass/_mixins.scss */
.cultureArticleContent .highlighter-coderay .CodeRay pre {
  background-color: #26004d;
}
/* line 95, sass/_mixins.scss */
.cultureArticleContent .highlighter-coderay .CodeRay .keyword {
  color: #d9ffb2;
}
/* line 98, sass/_mixins.scss */
.cultureArticleContent .highlighter-coderay .CodeRay .local-variable {
  color: #a7ff4d;
}
/* line 101, sass/_mixins.scss */
.cultureArticleContent .highlighter-coderay .CodeRay .function {
  color: #8000ff;
}

/* line 4, sass/_mixins.scss */
.projectsRecents .recentLabel {
  border-bottom: 1px solid #00ff80;
}
/* line 6, sass/_mixins.scss */
.projectsRecents .recentLabel h1, .projectsRecents .recentLabel h2, .projectsRecents .recentLabel a, .projectsRecents .recentLabel p {
  color: #000;
}
/* line 10, sass/_mixins.scss */
.projectsRecents .recentLabel .labelText {
  background-color: #00e673;
}
/* line 31, sass/_mixins.scss */
.projectsRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 34, sass/_mixins.scss */
.projectsRecents .infoBox .info {
  border-left: 1px solid #00ff80;
}

/* line 126, sass/_base.scss */
.projectsAbout {
  padding: 1em;
}
/* line 18, sass/_mixins.scss */
.projectsAbout strong {
  border-bottom: 1px solid #00ff80;
}
/* line 21, sass/_mixins.scss */
.projectsAbout p {
  padding: 0.5em;
  border-left: 1px solid #00ff80;
}
/* line 25, sass/_mixins.scss */
.projectsAbout .aboutHeader {
  background-color: rgba(0, 255, 128, 0.3);
}

/* line 129, sass/_base.scss */
.projectsHeaderContainer {
  border-top: 1px solid #00ff80;
  border-bottom: 1px solid #00ff80;
}
/* line 42, sass/_mixins.scss */
.projectsHeaderContainer .header {
  margin-right: 0px;
}
/* line 44, sass/_mixins.scss */
.projectsHeaderContainer .header h1, .projectsHeaderContainer .header h2, .projectsHeaderContainer .header a, .projectsHeaderContainer .header p {
  color: #000;
}
/* line 48, sass/_mixins.scss */
.projectsHeaderContainer .headerTitle {
  margin-right: 0px;
  background-color: #00e673;
}
/* line 52, sass/_mixins.scss */
.projectsHeaderContainer .headerDetails {
  background-color: #00e673;
  margin-left: 0px;
  border-right: 2px solid #fff;
}
/* line 56, sass/_mixins.scss */
.projectsHeaderContainer .headerDetails h1, .projectsHeaderContainer .headerDetails h2, .projectsHeaderContainer .headerDetails a, .projectsHeaderContainer .headerDetails p {
  color: #000;
}

/* line 84, sass/_mixins.scss */
.projectsArticleContent .highlighter-coderay .CodeRay {
  background-color: #004d26;
}
/* line 85, sass/_mixins.scss */
.projectsArticleContent .highlighter-coderay .CodeRay .line-numbers {
  background-color: rgba(0, 255, 128, 0.3);
}
/* line 87, sass/_mixins.scss */
.projectsArticleContent .highlighter-coderay .CodeRay .line-numbers a {
  color: #888888;
}
/* line 92, sass/_mixins.scss */
.projectsArticleContent .highlighter-coderay .CodeRay pre {
  background-color: #004d26;
}
/* line 95, sass/_mixins.scss */
.projectsArticleContent .highlighter-coderay .CodeRay .keyword {
  color: #ffb2d9;
}
/* line 98, sass/_mixins.scss */
.projectsArticleContent .highlighter-coderay .CodeRay .local-variable {
  color: #ff4da7;
}
/* line 101, sass/_mixins.scss */
.projectsArticleContent .highlighter-coderay .CodeRay .function {
  color: #00ff80;
}

/* line 4, sass/_mixins.scss */
.programmingRecents .recentLabel {
  border-bottom: 1px solid #ff8000;
}
/* line 6, sass/_mixins.scss */
.programmingRecents .recentLabel h1, .programmingRecents .recentLabel h2, .programmingRecents .recentLabel a, .programmingRecents .recentLabel p {
  color: #000;
}
/* line 10, sass/_mixins.scss */
.programmingRecents .recentLabel .labelText {
  background-color: #e67300;
}
/* line 31, sass/_mixins.scss */
.programmingRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 34, sass/_mixins.scss */
.programmingRecents .infoBox .info {
  border-left: 1px solid #ff8000;
}

/* line 126, sass/_base.scss */
.programmingAbout {
  padding: 1em;
}
/* line 18, sass/_mixins.scss */
.programmingAbout strong {
  border-bottom: 1px solid #ff8000;
}
/* line 21, sass/_mixins.scss */
.programmingAbout p {
  padding: 0.5em;
  border-left: 1px solid #ff8000;
}
/* line 25, sass/_mixins.scss */
.programmingAbout .aboutHeader {
  background-color: rgba(255, 128, 0, 0.3);
}

/* line 129, sass/_base.scss */
.programmingHeaderContainer {
  border-top: 1px solid #ff8000;
  border-bottom: 1px solid #ff8000;
}
/* line 42, sass/_mixins.scss */
.programmingHeaderContainer .header {
  margin-right: 0px;
}
/* line 44, sass/_mixins.scss */
.programmingHeaderContainer .header h1, .programmingHeaderContainer .header h2, .programmingHeaderContainer .header a, .programmingHeaderContainer .header p {
  color: #000;
}
/* line 48, sass/_mixins.scss */
.programmingHeaderContainer .headerTitle {
  margin-right: 0px;
  background-color: #e67300;
}
/* line 52, sass/_mixins.scss */
.programmingHeaderContainer .headerDetails {
  background-color: #e67300;
  margin-left: 0px;
  border-right: 2px solid #fff;
}
/* line 56, sass/_mixins.scss */
.programmingHeaderContainer .headerDetails h1, .programmingHeaderContainer .headerDetails h2, .programmingHeaderContainer .headerDetails a, .programmingHeaderContainer .headerDetails p {
  color: #000;
}

/* line 84, sass/_mixins.scss */
.programmingArticleContent .highlighter-coderay .CodeRay {
  background-color: #4d2600;
}
/* line 85, sass/_mixins.scss */
.programmingArticleContent .highlighter-coderay .CodeRay .line-numbers {
  background-color: rgba(255, 128, 0, 0.3);
}
/* line 87, sass/_mixins.scss */
.programmingArticleContent .highlighter-coderay .CodeRay .line-numbers a {
  color: #888888;
}
/* line 92, sass/_mixins.scss */
.programmingArticleContent .highlighter-coderay .CodeRay pre {
  background-color: #4d2600;
}
/* line 95, sass/_mixins.scss */
.programmingArticleContent .highlighter-coderay .CodeRay .keyword {
  color: #b2d9ff;
}
/* line 98, sass/_mixins.scss */
.programmingArticleContent .highlighter-coderay .CodeRay .local-variable {
  color: #4da7ff;
}
/* line 101, sass/_mixins.scss */
.programmingArticleContent .highlighter-coderay .CodeRay .function {
  color: #ff8000;
}
