	/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");
/* line 5, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, sass/_grids.scss */
.main {
  width: 99.41176%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
}
/* line 27, sass/_grids.scss */
.main .siteHeader {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #14f061;
}
/* line 12, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.main .siteHeader:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 31, sass/_grids.scss */
.main .siteHeader .headerInterior {
  color: #ffffff;
  width: 87.64706%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 38, sass/_grids.scss */
.main .siteHeader .headerInterior #siteImageContainer {
  width: 17.05882%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
}
/* line 42, sass/_grids.scss */
.main .siteHeader .headerInterior #siteImageContainer .siteHeaderImage {
  max-height: 200px;
}
/* line 48, sass/_grids.scss */
.main .siteHeader .headerInterior #siteHeaderText {
  margin-left: 2.35294%;
}
/* line 50, sass/_grids.scss */
.main .siteHeader .headerInterior #siteHeaderText #siteName {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -0.25em;
  text-align: left;
  text-shadow: 2px 2px #14f061;
}
/* line 59, sass/_grids.scss */
.main .siteHeader .headerInterior #siteSubtitle {
  margin-top: -0.5em;
  margin-right: 2.2em;
  text-align: right;
}
/* line 72, sass/_grids.scss */
.main .mainContent {
  width: 93.52941%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  margin-left: 3.23529%;
}
/* line 78, sass/_grids.scss */
.main .mainContent .headerContainer {
  margin-top: 2.35294%;
  margin-bottom: 2.35294%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiM2NjY2ZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(102, 102, 255, 0.25)), color-stop(90%, rgba(179, 179, 255, 0.25)), color-stop(90%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 3.33333%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
  margin-left: 3.23529%;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 12, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.main .mainContent .headerContainer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 90, sass/_grids.scss */
.main .mainContent .headerContainer .header {
  border: 1px solid #ee1169;
  width: 89.33333%;
  float: left;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  height: 15vw;
}
/* line 95, sass/_grids.scss */
.main .mainContent .headerContainer .header .headerText {
  width: 36.2963%;
  float: right;
  margin-left: 0.37037%;
  margin-right: 0.37037%;
  height: 15vw;
}
/* line 101, sass/_grids.scss */
.main .mainContent .headerContainer .header .headerText .headerTitle {
  width: 98%;
}
/* line 105, sass/_grids.scss */
.main .mainContent .headerContainer .header .headerText .headerDetails {
  width: 48%;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
}
/* line 119, sass/_grids.scss */
.main .mainContent .recentDiv, .main .mainContent .content {
  width: 87.64706%;
  float: left;
  margin-left: 0.29412%;
  margin-right: 0.29412%;
  margin-left: 3.23529%;
  margin-top: 1.17647%;
  margin-bottom: 0.29412%;
}
/* line 129, sass/_grids.scss */
.main .mainContent .recentDiv .labelText, .main .mainContent .content .labelText {
  max-width: 17.05882%;
  padding-left: 1.17647%;
}
/* line 138, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery, .main .mainContent .content .infoBoxGallery {
  margin-top: 1.17647%;
  width: 92.66667%;
  float: left;
  margin-left: 0.33333%;
  margin-right: 0.33333%;
  margin-left: 3.23529%;
}
/* line 146, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox, .main .mainContent .content .infoBoxGallery .infoBox {
  padding: 0.5em 0em;
  width: 32.38095%;
  float: left;
  height: 5vw;
  display: -webkit-flex;
  display: flex;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 1), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 1) {
  margin-left: 0.47619%;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 2), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 2) {
  margin-left: 33.80952%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(3n + 3), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(3n + 3) {
  margin-left: 67.14286%;
  margin-right: -100%;
  clear: none;
}
/* line 151, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .recentDiv .infoBoxGallery .infoBox .imageLink, .main .mainContent .content .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .content .infoBoxGallery .infoBox .imageLink {
  width: 25.71429%;
  float: left;
  margin-left: 1.42857%;
  margin-right: 1.42857%;
}
/* line 166, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .info, .main .mainContent .content .infoBoxGallery .infoBox .info {
  margin-left: 0.29412%;
  padding-left: 5.71429%;
  padding-right: 5.71429%;
}
/* line 171, sass/_grids.scss */
.main .mainContent .recentDiv .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .recentDiv .infoBoxGallery .infoBox .info .serialDate, .main .mainContent .content .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .content .infoBoxGallery .infoBox .info .serialDate {
  float: right;
  font-size: 0.7em;
  line-height: 2.14286em;
}

/* line 9, sass/_layout.scss */
.navBlock ul.navList {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li.last {
  padding-right: 0;
}

/* line 106, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.38889em;
}

/* line 17, sass/_base.scss */
#siteName {
  font-size: 4em;
  line-height: 1.38889em;
}
/* line 20, sass/_base.scss */
#siteName .topLink {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
#siteName .topLink:active, #siteName .topLink:focus {
  outline: none;
}

/* line 22, sass/_base.scss */
#siteSubtitle {
  font-size: 1.5em;
  line-height: 1.85185em;
}

/* line 30, sass/_base.scss */
h1 {
  font-family: "EB Garamond", serif;
}

/* line 34, sass/_base.scss */
h2 {
  font-family: "EB Garamond", serif;
}

/* line 39, sass/_base.scss */
p {
  font-family: "Lato", sans-serif;
}

/* line 43, sass/_base.scss */
.recentLabel {
  border-bottom: 1px solid #ff00ff;
}
/* line 44, sass/_base.scss */
.recentLabel .labelText {
  background-color: #ff00ff;
}

/* line 2, sass/_mixins.scss */
.everydayAlgorithmsRecents .recentLabel {
  border-bottom: 1px solid #7fff00;
}
/* line 3, sass/_mixins.scss */
.everydayAlgorithmsRecents .recentLabel .labelText {
  background-color: #7fff00;
}
/* line 13, sass/_mixins.scss */
.everydayAlgorithmsRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 19, sass/_mixins.scss */
.everydayAlgorithmsRecents .infoBox .info {
  border-left: 1px solid #7fff00;
}

/* line 2, sass/_mixins.scss */
.visualizationsRecents .recentLabel {
  border-bottom: 1px solid #ee1169;
}
/* line 3, sass/_mixins.scss */
.visualizationsRecents .recentLabel .labelText {
  background-color: #ee1169;
}
/* line 13, sass/_mixins.scss */
.visualizationsRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 19, sass/_mixins.scss */
.visualizationsRecents .infoBox .info {
  border-left: 1px solid #ee1169;
}

/* line 2, sass/_mixins.scss */
.cultureRecents .recentLabel {
  border-bottom: 1px solid #8000ff;
}
/* line 3, sass/_mixins.scss */
.cultureRecents .recentLabel .labelText {
  background-color: #8000ff;
}
/* line 13, sass/_mixins.scss */
.cultureRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 19, sass/_mixins.scss */
.cultureRecents .infoBox .info {
  border-left: 1px solid #8000ff;
}

/* line 2, sass/_mixins.scss */
.projectsRecents .recentLabel {
  border-bottom: 1px solid #00ff80;
}
/* line 3, sass/_mixins.scss */
.projectsRecents .recentLabel .labelText {
  background-color: #00ff80;
}
/* line 13, sass/_mixins.scss */
.projectsRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 19, sass/_mixins.scss */
.projectsRecents .infoBox .info {
  border-left: 1px solid #00ff80;
}

/* line 2, sass/_mixins.scss */
.programmingRecents .recentLabel {
  border-bottom: 1px solid #ff8000;
}
/* line 3, sass/_mixins.scss */
.programmingRecents .recentLabel .labelText {
  background-color: #ff8000;
}
/* line 13, sass/_mixins.scss */
.programmingRecents .infoBox {
  padding: 0.5em 0em;
  border: 1px solid #000000;
}
/* line 19, sass/_mixins.scss */
.programmingRecents .infoBox .info {
  border-left: 1px solid #ff8000;
}
