@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");
/* line 106, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.375em;
}

@media (min-width: 20px) and (max-width: 500px) {
  /* line 11, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main #siteName {
    font-size: 1.5em;
    line-height: 1.83333em;
  }
  /* line 14, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .navLink {
    font-size: 0.75em;
    line-height: 1.83333em;
  }
  /* line 17, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main #siteSubtitle {
    font-size: 0.6em;
    line-height: 2.29167em;
  }
  /* line 23, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .siteHeader .headerInterior #siteImageContainer .siteHeaderImage {
    height: 4em;
  }
  /* line 32, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent {
    width: 836.84211%;
    float: left;
    margin-right: 5.26316%;
    margin-left: 26.31579%;
  }
  /* line 35, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .headerContainer {
    margin-top: 14.47368%;
    margin-bottom: 14.47368%;
    padding-top: 14.47368%;
    padding-bottom: 14.47368%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 26.31579%;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  /* line 12, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .main .mainContent .headerContainer:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 45, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .headerContainer .header {
    width: 73.15436%;
    float: left;
    margin-right: 0.67114%;
    height: 18vw;
    margin-right: 0px;
  }
  /* line 49, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .headerContainer .header .headerTitle {
    float: right;
    max-width: 44.95413%;
    margin-right: 0px;
    font-size: 0.75em;
    line-height: 1.83333em;
  }
  /* line 57, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .headerContainer .headerDetails {
    width: 26.1745%;
    float: right;
    margin-right: 0;
    font-size: 0.5em;
    line-height: 2.75em;
    height: 18vw;
    margin-left: 0px;
  }
  /* line 64, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .headerContainer .headerDetailsText {
    width: 80.76923%;
    float: left;
    margin-right: 2.5641%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 15vw;
    display: -webkit-flex;
    display: flex;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    overflow: scroll;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid #fff;
  }
  /* line 76, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .headerContainer .headerDetailsButton {
    width: 16.66667%;
    float: right;
    margin-right: 0;
  }
  /* line 80, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .recentDiv, .main .mainContent .content {
    width: 784.21053%;
    float: left;
    margin-right: 5.26316%;
    margin-left: 26.31579%;
    margin-top: 21.05263%;
    margin-bottom: 5.26316%;
  }
  /* line 85, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .recentDiv .labelText, .main .mainContent .content .labelText {
    max-width: 86.11111%;
    padding-left: 21.05263%;
  }
  /* line 89, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery, .main .mainContent .content .infoBoxGallery {
    margin-top: 21.05263%;
    width: 93.28859%;
    float: left;
    margin-right: 0.67114%;
    margin-left: 26.31579%;
  }
  /* line 93, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox, .main .mainContent .content .infoBoxGallery .infoBox {
    padding: 0.5em 0em;
    width: 82.14286%;
    float: left;
    height: 5vw;
    display: -webkit-flex;
    display: flex;
    overflow: scroll;
  }
  /* line 66, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susy/_gallery.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox:nth-child(1n + 1), .main .mainContent .content .infoBoxGallery .infoBox:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 99, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .recentDiv .infoBoxGallery .infoBox .imageLink, .main .mainContent .content .infoBoxGallery .infoBox .infoImageContainer, .main .mainContent .content .infoBoxGallery .infoBox .imageLink {
    width: 26.47059%;
    float: left;
    margin-right: 2.94118%;
  }
  /* line 102, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox .info, .main .mainContent .content .infoBoxGallery .infoBox .info {
    margin-left: 5.26316%;
    padding-left: 5.88235%;
    padding-right: 5.88235%;
    margin-right: 0px;
    width: 70.58824%;
    float: left;
    margin-right: 2.94118%;
  }
  /* line 108, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_breakpoints.scss */
  .main .mainContent .recentDiv .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .recentDiv .infoBoxGallery .infoBox .info .serialDate, .main .mainContent .content .infoBoxGallery .infoBox .info .articleDate, .main .mainContent .content .infoBoxGallery .infoBox .info .serialDate {
    float: right;
    margin-top: -0.1em;
    font-size: 0.6em;
    line-height: 2.29167em;
  }
}
