@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|EB+Garamond");
/* line 106, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.375em;
}

/* line 4, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.navBlock ul.navList {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #fff;
  padding-top: 0.25em;
  margin-bottom: 0.25em;
}
/* line 62, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li:first-child {
  padding-left: 0;
}
/* line 50, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li:last-child {
  padding-right: 0;
}
/* line 52, /Users/tfpractice/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navBlock ul.navList li.last {
  padding-right: 0;
}
/* line 9, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.navBlock ul.navList li {
  font-family: "Lato", sans-serif;
}

/* line 15, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.comment {
  padding: 1em;
}
/* line 17, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.comment .commentInfo {
  border-bottom: 1px solid #ff00ff;
}
/* line 19, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.comment .commentInfo .commentDate {
  float: right;
}
/* line 23, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.comment .commentContent {
  padding-top: 0.5em;
}

/* line 29, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.aboutContent h1 {
  border-bottom: 1px solid #ff00ff;
  font-size: 1.5em;
  line-height: 1.83333em;
}
/* line 33, /Users/tfpractice/sites/yungMorpheus/app/assets/stylesheets/sass/_layout.scss */
.aboutContent p, .aboutContent ul, .aboutContent ol {
  padding: 1em;
}
